a{
    color: black;
}
.members h2{
    font-size: 100px;
    margin-top: -120px;
    margin-bottom: 120px;
    font-family: Boring Sans B Trial;
}
.members-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 80px;
    padding: 20px;
}

.member-card {
    background: rgb(209, 205, 205);
    padding: 30px;
    border-radius: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    text-align: center;
    transition: transform 0.3s ease;
    z-index: 1;
}

.member-card:hover {
    transform: translateY(-10px);
    box-shadow: 4px 4px 6px rgb(85, 107, 47);
}

.member-image img{
    font-size: 2.5rem;
    color: #333;
    width: 100%;
    height: auto;
    aspect-ratio: 4/4;
    object-fit: cover;
    border-radius: 15px;
}

.member-card h3 {
    font-size: 1.5rem;
    margin-top: 5px;
    /* margin-bottom: 15px; */
    color: #333;
}

.member-card p {
    margin-bottom: 15px;
    color: #666;
    line-height: 1.6;
}
.member-icon{
    display: flex;
    justify-content: center;
    gap: 20px;
    font-size: 24px;
}
.member-icon .icon{
    padding: 7px;
    border-radius: 50%;
}

.member-icon .icon:hover{
    color: #92bd48;
    border: 2px solid #556b2f ;
}